<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907648361280-egiihauklro0n9i4sn4kegjrs4mrkkvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907648361280-egiihauklro0n9i4sn4kegjrs4mrkkvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCwraCCR5k2wahKNGYdS73gUtZ2p-wyuPM</string>
	<key>GCM_SENDER_ID</key>
	<string>907648361280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khadamat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>khadamat-app-946b3</string>
	<key>STORAGE_BUCKET</key>
	<string>khadamat-app-946b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907648361280:ios:678e43f32bd724c87410a5</string>
</dict>
</plist>